page-register-user-pin {
    .logo{
        width: 40%;
        margin: 0 auto;
    }

    .form{
        text-align: center;
    }
    
   .toolbar-title{
       text-align: center;
       font-size: 1.2em;
   }
   
   .follows{
    text-align: center;
    margin-top: 25%;
   }


}
