page-register-user {
    .logo{
        width: 40%;
        margin: 0 auto;
    }

    .form{
        text-align: center;
    }
    
   
   .follows{
    text-align: center;
    margin-top: 25%;
   }


}
